<div class="card mx-4 mt-4">
  <div class="card-header bg-light">
    WhatsWapp
    <ng-select labelForId="pc"
               [items]="users"
               [formControl]="user"
               [virtualScroll]="true"
               [loading]="loading"
               [clearable]="false"
               [typeahead]="searchSubject$"
               bindLabel="name"
               placeholder="Placeholder"
               appendTo="body"
               (scroll)="onScroll($event)"
               (scrollToEnd)="onScrollToEnd()">
    </ng-select>
        <button type="submit" class="btn" (click)="this.loginService.logout()">Logout</button>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-2 vh-75">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">FREUNDE</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let friend of friends">
            <td class="cursor2Pointer" (click)="getChatId(friend.userId)">
              {{friend.name}}
              <span class="badge-style top-0 start-150 translate-middle badge rounded-pill"
                    [ngClass]="{'displayNone': getUnreadMessages(friend) == undefined
                    || getUnreadMessages(friend) == null
                    || getUnreadMessages(friend) == 0}">
                {{getUnreadMessages(friend)}}
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-10 vh-75">
        <app-chat id="pc"
                  *ngIf="chatId != null && currentToken != null"
                  [currentUserId]="currentToken.user.userId"
                  [chatId]="chatId">
        </app-chat>
      </div>
    </div>
  </div>
</div>
