<div class="card mx-4 mt-4">
  <div class="card-header bg-light">
    WhatsWapp
    <ng-select labelForId="pc"
               [items]="users"
               [formControl]="user"
               [virtualScroll]="true"
               [loading]="loading"
               [clearable]="false"
               [typeahead]="searchSubject$"
               bindLabel="name"
               placeholder="Placeholder"
               appendTo="body"
               (scroll)="onScroll($event)"
               (scrollToEnd)="onScrollToEnd()">
    </ng-select>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-2 vh-75">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">FREUNDE</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let friend of friends">
            <td class="cursor2Pointer" (click)="chatId = friend.userId">
              {{friend.name}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-10 vh-75">
        <div class="card h-100">
          <div class="card-header w-100">
            {{getRightFriendById(chatId)}}
          </div>

          <div class="card-body w-100">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"
                  [ngClass]="{'textRight': chatMessage.receiver == chatMessage.sender}"
                  *ngFor="let chatMessage of webSocketService.chatMessages">
                <strong>{{chatMessage.sender}}: </strong>
                <span>{{chatMessage.message}}</span>
              </li>
            </ul>
          </div>

          <div class="card-footer">
            <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
              <div class="chat-send row">
                <div class="col-10">
                  <input type="text" class="form-control" name="message" id="input-message" ngModel>
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-outline-success">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
