<div class="card h-100" (click)="moveUnreadMessages()">
  <div class="card-header w-100">
    {{chatId}}
  </div>
  <div class="card-body w-100 scrollable">
    <ul class="list-group list-group-flush">
<!--        OLD MESSAGES         -->
<!--      <li class="list-group-item"-->
<!--          [ngClass]="{'textRight': chatMessage.receiverId == chatMessage.senderId}"-->
<!--          *ngFor="let chatMessage of webSocketService.ingoingOldChatMessagesList.get(chatId)">-->

<!--        <div [ngClass]="{'textBoxRight float-right': chatMessage.receiverId == chatMessage.senderId,-->
<!--          textBoxLeft : chatMessage.receiverId != chatMessage.senderId}">-->

<!--          <strong>{{chatMessage.senderId}}: </strong>-->
<!--          <span>{{chatMessage.message}}</span>-->
<!--        </div>-->
<!--      </li>-->
<!--        CURRENT MESSAGES         -->
      <li class="list-group-item"
          [ngClass]="{'textRight': chatMessage.receiverId == chatMessage.senderId}"
          *ngFor="let chatMessage of webSocketService.ingoingChatMessagesList.get(chatId)">

        <div [ngClass]="{'textBoxRight float-right': chatMessage.receiverId == chatMessage.senderId,
          textBoxLeft : chatMessage.receiverId != chatMessage.senderId}">

          <strong>{{chatMessage.senderId}}: </strong>
          <span>{{chatMessage.message}}</span>
        </div>
      </li>
<!--        UNREAD MESSAGES         -->
      <li class="list-group-item newMessageTag" [ngClass]="{newMessageTagDisplay: !webSocketService.ingoingChatMessagesListOfUnread.has(chatId)}"><div class="blueBorder">----NEW MESSAGES----</div></li>
      <li class="list-group-item"
          [ngClass]="{'textRight': chatMessage.receiverId == chatMessage.senderId}"
          *ngFor="let chatMessage of webSocketService.ingoingChatMessagesListOfUnread.get(chatId)">
        <div class="newMessage">
          <strong>{{chatMessage.senderId}}: </strong>
          <span>{{chatMessage.message}}</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
      <div class="chat-send row">
        <div class="col-10">
          <input type="text" class="form-control" name="message" id="input-message" ngModel>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-outline-success">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
